@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-800 text-white overflow-hidden;
    }
}

@layer utilities {
    .font-pirataone {
        font-family: "Pirata One", cursive;
    }

    .scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #374151 transparent;
    }

    .scrollbar::-webkit-scrollbar {
        width: 7.5px;
        height: 7.5px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        @apply bg-gray-700 rounded-full;
    }

    .scrollbar::-webkit-scrollbar-track {
        margin: 0 25px;
    }

    .inputBox input:valid ~ span,
    .inputBox input:disabled ~ span,
    .inputBox input:focus ~ span {
        @apply px-1 bg-gray-800 text-sm;

        transform: translateY(-20px);
    }

    .blur-content {
        @apply blur-[1.5px] transition-all duration-300;
    }
}
